[submodule "Completed exercises/swiftbook.ru/05. Приложение на основе UITableView (Swift 5)/MyPlaces"]
	path = Completed exercises/swiftbook.ru/05. Приложение на основе UITableView (Swift 5)/MyPlaces
	url = https://github.com/RinatAbidullin/MyPlaces.git
